<!-- About-->
<section class="about-section text-center" id="join">
	<div class="about-section-text container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<h1 class="display-3 text-black mb-4">{{ this.about_title }}</h1>
			<div class="col-6 col-lg-3 d-grid gap-2 mx-auto">
				<a href="https://discord.gg/tzbXdkxWYF" class="btn btn-primary"><i class="fa fa-discord" aria-hidden="true"></i> Discord</a>
				<a href="https://littleroot.net/weblate/" class="btn btn-primary"><i class="fa fa-language" aria-hidden="true"></i> Weblate</a>
			</div>
		</div>
	</div>
</section>
