{% extends "layout.html" %}
{% block page %}
{% include 'header.html' %}

<div class="container my-5 pt-5">
  <div class="text-center">
    <h1>What is Queerscriptors?</h1>
  </div>

  <div class="card mt-3" id="intro">
    <div class="card-body">
      {{ this.intro }}
    </div>
  </div>

  <div class="card mt-4" id="transl">
    <div class="card-header">
      Translators
    </div>
    <div class="card-body">
      {{ this.transl }}
    </div>
  </div>

  <div class="card mt-4" id="devs">
    <div class="card-header">
      Game Developers
    </div>
    <div class="card-body">
      {{ this.devs }}
    </div>
  </div>
</div>
{% endblock %}
