<!-- Contact-->
<section class="contact-section bg-black pb-3">
	<div class="social d-flex justify-content-center pb-4">
		<a class="mx-2" href="https://twitter.com/queerscriptors" aria-label="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
		<a class="mx-2" href="https://mastodon.encryptionin.space/@queerscriptors" aria-label="mastodon"><i class="fa fa-mastodon" aria-hidden="true"></i></a>
		<a class="mx-2" href="https://discord.gg/tzbXdkxWYF" aria-label="discord"><i class="fa fa-discord" aria-hidden="true"></i></a>
		<a class="mx-2" href="https://lab.encryptionin.space/hackerncoder/Queerscriptors" aria-label="gitea"><i class="fa fa-gitea" aria-hidden="true"></i></a>
	</div>
	<div class="social d-flex justify-content-center text-white-50">
        <p>queer@queerscriptors.org</p>
	</div>
</section>
<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50 pt-0"><div class="container px-4 px-lg-5">Copyright &copy; Queerscriptors 2022</div></footer>
<!-- Bootstrap core JS-->
<!--<script src="{{ '/js/bootstrap.bundle.min.js'|url }}"></script>-->
<!-- Core theme JS-->
<!-- <script src="{{ '/js/scripts.js'|url }}"></script> -->
