	<!-- Contact-->
        <section class="contact-section bg-black">
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="https://twitter.com/queerscriptors"><i class="fab fa-twitter"></i></a>
                    <a class="mx-2" href="#!"><i class="fab fa-discord"></i></a>
                    <a class="mx-2" href="https://lab.encryptionin.space/hackerncoder/Queerscriptors"><i class="fab fa-git"></i></a>
                </div>
        </section>
	<!-- Footer-->
        <footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; Queerscriptors 2021</div></footer>
        <!-- Bootstrap core JS-->
	<script src="{{ 'js/bootstrap.bundle.min.js'|url }}"></script>
        <!-- Core theme JS-->
	<script src="{{ 'js/scripts.js'|url }}"></script>
    </body>
</html>
