{% extends "layout.html" %}
{% block ogpdesc %}{{ _("A list of queer games") }}{% endblock %}
{% block ogptitle %}{{ this.title }} | Queerscriptors{% endblock %}
{% block twitterdesc %}{{ _("A list of queer games") }} {% endblock %}
{% block twittertitle %}{{ this.title }} | Queerscriptors{% endblock %}
{% block page %}
{% include 'header.html' %}
<div class="container my-5 pt-5" >
  <div class="text-center" >
    <h1>{{ _("A list of queer games") }}</h1>
  </div>
{% for project in this.children %}
  {% set image = project.attachments.images.first() %}
  <div class="card mt-3">
    <div class="row g-0" >
      <div class="col-md-4" >
        <img src="{{image|url}}" class="img-fluid rounded-start-md rounded-top-sm" >
      </div>
      <div class="col-md-8" >
        <div class="card-body h-100 position-relative card-grid" >
          <h3 class="card-title {% if project.weblate %}mb-0{% endif %}">{{project.title}}</h3>
          {% if project.weblate %}<span class="badge bg-success mb-2">{{ _("Translated by the Queerscriptors") }}</span>{% endif %}
          <div class="card-grid-div">
            {{project.body}}
          </div>
          <div class="d-md-flex card-grid-btn justify-content-end">
            <div class="d-md-inline-block d-grid me-md-2 mb-md-2 align-self-end">
              {% if project.weblate %}
              <a href="{{project|url}}" class="btn btn-primary btn-sm">{{ _("More") }} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
              {% else %}
              <a href="{{project.website}}" class="btn btn-primary btn-sm">{{ _("Download") }} <i class="fa fa-external-link" aria-hidden="true"></i></a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
