{% extends "layout.html" %}
{% block page %}
{% include 'header.html' %}

<div class="container my-5 pt-5">
  <div class="text-center">
    <h1>Join the Queerscriptors</h1>
  </div>

  <div class="card mt-4" id="getting-started">
    <div class="card-header">
      {{ _("Getting setup") }}
    </div>
    <div class="card-body">
      {{ this.gettingstarted }}
    </div>
  </div>

  <div class="card mt-4" id="learn-tech">
    <div class="card-header">
      {{ _("Learn the quirks") }}
    </div>
    <div class="card-body">
      {{ this.learntech }}
    </div>
  </div>
</div>
{% endblock %}
