{% set alts = get_alts() %}
<div class="pull-right">
  <li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ this.alt }} <b class="caret"></b></a> 
    <ul class="dropdown-menu">
      {% for alt in alts %}
        {% if this.alt != alt %}
          <li><a href="{{ this.path|url(alt=alt) }}">{{ alt }}</a></li>
        {% endif %}
      {% endfor %}
      <li><a href="#">Something else here</a></li>
      <li class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </li>
</div>
