<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="{% block ogpdesc %}{{ _("A community of people that translate queer games") }}{% endblock %}" />
	
	<!-- Open Graph Protocol -->
  <meta name="og:title" content="{% block ogptitle %}Queerscriptors{% endblock %}" />
	<meta name="og:type" content="website" />
	<meta name="og:image" content="{{ this.ogpimage|url(absolute=True,external=True) }}" />
	<meta name="og:url" content="{{ '.'|url(absolute=True,external=True) }}" />
  <meta name="og:description" content="{% block ogpdesc %}{{ _("A community of people that translate queer games") }}{% endblock %}" />
	<!-- Twitter card (OGP equv) -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:domain" content="queerscriptors.org" />
	<meta name="twitter:url" content="{{ '.'|url(absolute=True,external=True) }}" />
	<meta name="twitter:title" content="{% block twittertitle %}Queerscriptors{% endblock %}" />
	<meta name="twitter:description" content="{% block twitterdesc %}{{ _("A community of people that translate queer games") }}{% endblock %}" />
	<meta name="twitter:image" content="{{ this.ogpimage|url(absolute=True,external=True) }}" />

	<title>{{ this.title }}</title>
  <link rel="icon" type="image/svg+xml" href="{{ '/images/favicon.svg'|asseturl }}" />
	<link rel="icon" type="image/png" href="{{ '/images/favicon.png'|asseturl }}" />
	<!-- Fork Awesome-->
	<link href="{{ '/css/fork-awesome.min.css'|asseturl }}" rel="stylesheet" />
	<!-- Fonts-->
	<link href="{{ '/css/fonts.min.css'|asseturl }}" rel="stylesheet" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="{{ '/css/styles.css'|asseturl }}" rel="stylesheet" />
</head>
